{% extends "master.html" %}
{% load bootstrap5 %}
{% block title %}Ocelot Tech Play2Learn{% endblock %}


{% block main %}

<div class="row">
    <div class="col-lg-12">
        <h3>Welcome to Ocelot Technologies Play2Learn Systems.</h3>
        <p>We offer two exciting games to make learning fun. Pellentesque habitant morbi tristique senectus et
            netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget,
            tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.
            Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat
            wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt
            condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis
            pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas
            augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan
            porttitor, facilisis luctus, metus</p>
    </div>
</div>

<hr />

<div class="row" style="margin-top:30px; margin-bottom:30px;">
    <div class="col-lg-12">

        <h3>Read our Reviews!</h1>

        <div id="myCarousel" class="carousel slide" data-ride="carousel" style="border:2px solid #3e3e3e; padding:20px; margin:20px 0px 30px 0px;">
            <div class="carousel-inner">
                {% for x in myreviews %}
                {% if forloop.counter == 1 %}
                
              <div class="carousel-item active">
                <h4>{{ x.firstname }} {{ x.lastname }}</h4>
                    <p>{{ x.review }}</p>
                    <p><span style="font-size: 12px;font-style: italic;">- {{ x.firstname }} {{ x.lastname }}</span></p>
                    
              </div>
                    

              {% else %}
              <div class="carousel-item">
                
                <h4>{{ x.firstname }} {{ x.lastname }}</h4>
                    <p>{{ x.review }}</p>
                    <p><span style="font-size: 12px;font-style: italic;">- {{ x.firstname }} {{ x.lastname }}</span></p>
                    
              </div>
              
              {% endif %}
              {% endfor %}
            </div>
          </div>

        <h5>Leave a Review! (Must be Logged in)</h4>
          <a href="review/">
            <button type="button" class="btn btn-primary">Leave a review!</button>
        </a>

    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-6">
        <h3>Anagram Hunt</h3>
        <p>This game is about anagrams and how fun they are. Data here please. Pellentesque habitant morbi
            tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat
            vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean
            ultricies mi vitae est. Mauris placerat eleifend leo.</p>
        <a href="anagram-hunt/">
            <button type="button" class="btn btn-primary">Play Now!</button>
        </a>
    </div>

    <div class="col-md-6">
        <h3>Math Facts Practice</h3>
        <p>This game is about math and how fun it is to learn. Data here please. Pellentesque habitant morbi
            tristique senectus et netus et malesuada fames ac turpis egestas. Aenean ultricies mi vitae est.
            Mauris placerat eleifend leo.</p>
        <a href="math-facts/">
            <button type="button" class="btn btn-primary">Play Now!</button>
        </a>
    </div>
</div>

<!-- <form method="post" action="/">
{% csrf_token %}
{% bootstrap_form form %}
<button name="save">Save</button>

</form> -->
  
  
{% endblock %}